h2 {
    color: blueviolet;

    background-color: blanchedalmond;


}

#Occupation {
   
    color: rgb(0, 0, 0);
    background-color: rgb(32, 184, 255);
    

}

#category {
    background-color: rgb(209, 205, 10);
    color: rgb(0, 13, 7);
}

#fathersname {
    color: rgb(17, 3, 3);
    background-color: rgb(251, 255, 2);
}

.income {
    color: cadetblue;
    background-color: black;
}

#oc {
    color: azure;
    background-color: black;
}

#bd {
    color: aliceblue;
    background-color: black;
}

#table {
    color: rgb(174, 104, 18);
    background-color: darkgray;
}

#dob {
    color: bisque;
    background-color: black;
}

#father {
    color: aqua;
    background-color: black;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
